.product-container {
  align-items: center;
  column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: center;
  margin: 50px auto;
  row-gap: 40px;
  width: 80%;
}

input[ type = 'number' ]::-webkit-inner-spin-button {
  appearance: none;
}

input[ type = 'number' ] {
  appearance: textfield;
}


.card-product {
  align-items: center;
  background-color: white;
  border: 4px solid #f9cb00;
  border-radius: 5px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.13);
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 350px;
  justify-content: center;
  margin: 0 10px;
  padding: 20px;
}

.name-product, .price-product {
  color: #302e2e;
  font-size: 16px;
  font-weight: 600;
}

.card-product .section-buttons-input {
  display: flex;
}

.card-product .section-buttons-input button {
  background: #f9cb00;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 24px;
  margin: 0 5px;
  width: 30px;
}

.card-product .section-buttons-input button:hover {
  background: #caa708de;
  transform: scale(1.1);
  transition: 0.2s ease-out;
}

.card-product .section-buttons-input button:active {
  transform: scale(1.3);
}

.card-product .section-buttons-input input {
  border: 2px solid #b2a2a2;
  border-radius: 3px;
  font-size: 18px;
  height: 35px;
  text-align: center;
  width: 150px;
}

.view-cart-button {
  background: #f9cb00;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.13);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  gap: 5px;
  justify-content: center;
  margin: 40px auto;
  padding: 20px;
  transition: 0.3s;
  width: 240px;
}

.view-cart-button:hover {
  background: #fdda3f;
  transform: scale(1.05);
}

.view-cart-button:disabled {
  background: #f5c9039f;
  cursor: default;
  transform: scale(1);
}
